<div class="page-header">
  <h1>
    Employees
    <a href="/employees/new" class="btn btn-lg btn-success">New Employee</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "employees_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :mcm_userid, "Mcm userid" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :mcm_userid_gteq, :class => "form-control", :placeholder => "Mcm userid greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :mcm_userid_lteq, :class => "form-control", :placeholder => "Mcm userid less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :prev_dept_start_date, "Prev dept start date" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='prev_dept_start_dategteqPicker'>
                  <%= f.text_field :prev_dept_start_date_gteq, :class => "form-control", :placeholder => "Prev dept start date greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='prev_dept_start_datelteqPicker'>
                  <%= f.text_field :prev_dept_start_date_lteq, :class => "form-control", :placeholder => "Prev dept start date less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#prev_dept_start_dategteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#prev_dept_start_datelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#prev_dept_start_dategteqPicker').on("dp.change", function (e) {
                  $('#prev_dept_start_datelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#prev_dept_start_datelteqPicker').on("dp.change", function (e) {
                  $('#prev_dept_start_dategteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
  <%= f.label :prev_dept_id, "Prev dept" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :prev_dept_id_gteq, :class => "form-control", :placeholder => "Prev dept greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :prev_dept_id_lteq, :class => "form-control", :placeholder => "Prev dept less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :dept_start_date, "Dept start date" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='dept_start_dategteqPicker'>
                  <%= f.text_field :dept_start_date_gteq, :class => "form-control", :placeholder => "Dept start date greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='dept_start_datelteqPicker'>
                  <%= f.text_field :dept_start_date_lteq, :class => "form-control", :placeholder => "Dept start date less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#dept_start_dategteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#dept_start_datelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#dept_start_dategteqPicker').on("dp.change", function (e) {
                  $('#dept_start_datelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#dept_start_datelteqPicker').on("dp.change", function (e) {
                  $('#dept_start_dategteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
  <%= f.label :branch, "Branch" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :branch_gteq, :class => "form-control", :placeholder => "Branch greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :branch_lteq, :class => "form-control", :placeholder => "Branch less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :doh, "Doh" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='dohgteqPicker'>
                  <%= f.text_field :doh_gteq, :class => "form-control", :placeholder => "Doh greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='dohlteqPicker'>
                  <%= f.text_field :doh_lteq, :class => "form-control", :placeholder => "Doh less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#dohgteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#dohlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#dohgteqPicker').on("dp.change", function (e) {
                  $('#dohlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#dohlteqPicker').on("dp.change", function (e) {
                  $('#dohgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
    <%= f.label :last_name_cont, "Last name contains" %>
    <%= f.text_field :last_name_cont, :class => "form-control", :placeholder => "Last name contains" %>
  </div>

<div class="form-group">
    <%= f.label :first_name_cont, "First name contains" %>
    <%= f.text_field :first_name_cont, :class => "form-control", :placeholder => "First name contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :department_name_cont, "Department name contains" %>
      <%= f.text_field :department_name_cont, :class => "form-control", :placeholder => "Department name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/employees" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#employees_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Mcm userid</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Doh</th>
        <th>Branch</th>
        <th>Dept start date</th>
        <th>Prev dept</th>
        <th>Prev dept start date</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>

      <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.mcm_userid %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.doh %></td>
        <td><%= employee.branch %></td>
        <td><%= employee.dept_start_date %></td>
        <td><%= employee.prev_dept_id %></td>
        <td><%= employee.prev_dept_start_date %></td>
        <td>
          <% if employee.department.present? %>
            <a href="/departments/<%= employee.department.id %>">
              <%= employee.department.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/employees/<%= employee.id %>" class="btn btn-primary">Show</a>
          <a href="/employees/<%= employee.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_employee/<%= employee.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @employees, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
