<div class="page-header">
  <h3>Department #<%= @department.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @department.name %></dd>

      <dt>Mcm</dt>
      <dd><%= @department.mcm_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/departments" class="btn btn-primary">
        Back
      </a>
      <a href="/departments/<%= @department.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_department/<%= @department.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Department has many employees -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Employees
      </li>

      <% @department.employees.each do |employee| %>
        <li class="list-group-item">
          <a href="/employees/<%= employee.id %>">
            <%= employee.mcm_userid %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/employees/<%= employee.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/employees/<%= employee.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_employee/<%= employee.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Department has many requirements -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Requirements
      </li>

      <% @department.requirements.each do |requirement| %>
        <li class="list-group-item">
          <a href="/requirements/<%= requirement.id %>">
            <%= requirement.employee_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/requirements/<%= requirement.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/requirements/<%= requirement.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_requirement/<%= requirement.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
